<div id="main-container" class="container-fluid">
<h1>Lista de publicaciones</h1>

<div id="main-content">
  <table class="table">
    <tr class='header'>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th></th>
    </tr>
    <% @publications.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
      <td><%= p.status %></td>
      <td><%= link_to "Editar", edit_publication_path( p ), class: 'btn btn-default btn-sm'  %></td>
    </tr>
    <% end %>
  </table>
<div>

<div><%= link_to "Nueva", new_publication_path, class: 'btn btn-success btn-lg' %></div>
</div>
